MyCashFlowClient/Connected Services/CashFlowServiceRef/CashRecordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CashRecordService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50735/CashRecordService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50735/CashRecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50735/CashRecordService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyCashFlow" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICashRecordService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_DeleteRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_DeleteRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_UpdateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecord" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_UpdateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_GetAllRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecords" />
  </wsdl:message>
  <wsdl:message name="ICashRecordService_GetAllRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICashRecordService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashRecordService/Register" message="tns:ICashRecordService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashRecordService/RegisterResponse" message="tns:ICashRecordService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashRecordService/Login" message="tns:ICashRecordService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashRecordService/LoginResponse" message="tns:ICashRecordService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashRecordService/AddRecord" message="tns:ICashRecordService_AddRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashRecordService/AddRecordResponse" message="tns:ICashRecordService_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashRecordService/DeleteRecord" message="tns:ICashRecordService_DeleteRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashRecordService/DeleteRecordResponse" message="tns:ICashRecordService_DeleteRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashRecordService/UpdateRecord" message="tns:ICashRecordService_UpdateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashRecordService/UpdateRecordResponse" message="tns:ICashRecordService_UpdateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashRecordService/GetAllRecords" message="tns:ICashRecordService_GetAllRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashRecordService/GetAllRecordsResponse" message="tns:ICashRecordService_GetAllRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICashRecordService" type="tns:ICashRecordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ICashRecordService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ICashRecordService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="http://tempuri.org/ICashRecordService/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap:operation soapAction="http://tempuri.org/ICashRecordService/DeleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <soap:operation soapAction="http://tempuri.org/ICashRecordService/UpdateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecords">
      <soap:operation soapAction="http://tempuri.org/ICashRecordService/GetAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CashRecordService">
    <wsdl:port name="BasicHttpBinding_ICashRecordService" binding="tns:BasicHttpBinding_ICashRecordService">
      <soap:address location="http://localhost:50735/CashRecordService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>